


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->


<body>
    <main>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>



                    <form action="admin/login" method="post">
                        <div class="mb-3">
                            <input class="form-control" id="email" name="email" placeholder="Username or email" type="text" value="admin@gmail.com">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" name="password" placeholder="Password" type="password" value="123">
                        </div> <!-- form-group// -->
                      
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>                     
                        </div> <!-- form-group// -->
                        
                    </form>
                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>
