<section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center my-5">
            <img src="https://t4.ftcdn.net/jpg/05/24/04/51/360_F_524045110_UXnCx4GEDapddDi5tdlY96s4g0MxHRvt.jpg" alt="">
          <!-- <h3 class="">Your wishlist is empty!🥲</h3> -->
          <p class="mb-4 mt-2"></p>
          <a class="btn" href="/admin"
            ><i class="fi-rs-shopping-bag mr-10"></i>Return to Dashboard</a
          >
        </div>
      </div>
    </div>
  </section>